/*COLORES

RGB  0 168 157
RGBA 0 168 157 1
HSL  176 100 66
HEXADECIMAL   #00A89D
*/

/* div{
    width:500px;
    height: 500px;
    background-color: #00A89D; */
    /* background-color:rgb(13, 110, 104); */
  /*   border: 9px solid hsl(176deg 100% 66%); */ /* deg= grado */
    /* border: 9px solid rgba(0, 168, 157, 0.5); */ /* a es de alfa */ 
/* } */


/*FONDOS*/

div{
    width: 500px;
    height: 500px;
    background-image: url('./_s_a12Cb12Cc12Cd12Ce0f0g64h454D2AECFFE4ECFFE4iABj0k64l1D3m1D3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -90px;
    
   
} 


/*DEGRADADOS*/
div{
    width: 500px;
    height: 500px; 
   /*  background: linear-gradient(40deg,pink ,rgb(70, 2, 55)); 
   */  /* background: linear-gradient(0deg,pink 50%,rgb(70, 2, 55) 50%); */ 
    /* background: linear-gradient(90deg,pink 32% ,rgb(70, 2, 55) 25%, rgb(101, 101, 215)90%);  */
   /*  background:-webkit-radial-gradient(top left, circle,red 50%,orange 50%,green,blue); */
    background:-webkit-radial-gradient(center, circle,red 50%,orange 50%,green,blue);
   
    /*Se puede poner circle o ellipse*/
/* }

